<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petshop - Admin</title>
    <meta name="description" content="Most Powerful &amp; Comprehensive Bootstrap 5 Admin Dashboard built for developers!" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="description" content="PetShop Admin">
    <meta name="author" content="UEF IT">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" as="font" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" as="font" type="font/woff2" crossorigin />
    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" type="text/css" />
    <!-- Vendors CSS -->

    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/fullcalendar/fullcalendar.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/flatpickr/flatpickr.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/quill/editor.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/jkanban/jkanban.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/quill/typography.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/quill/katex.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/toastr/toastr.min.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/toastr/toastr.min.css" type="text/css" />
    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>
    <script src="~/assets/vendor/js/template-customizer.js"></script>
    <script src="~/assets/js/config.js"></script>
</head>
<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo ps-3">
                    <a href="../.." class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <img src="/file/devteamlogo.svg" alt="" width="60">
                        </span>
                        <span class="app-brand-text demo menu-text fw-bold ms-2"> {DEV Team}</span>
                    </a>
                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>
                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1" id="page-menu"></ul>
            </aside>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer id="footer" class="my-5">
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-menu">
                        <img src="images/logo.png" alt="logo">
                        <p class="blog-paragraph fs-6 mt-3">Subscribe to our newsletter to get updates about our grand offers.</p>
                        <div class="social-links">
                            <ul class="d-flex list-unstyled gap-2">
                                <li class="social">
                                    <a href="#">
                                        <iconify-icon class="social-icon" icon="ri:facebook-fill"></iconify-icon>
                                    </a>
                                </li>
                                <li class="social">
                                    <a href="#">
                                        <iconify-icon class="social-icon" icon="ri:twitter-fill"></iconify-icon>
                                    </a>
                                </li>
                                <li class="social">
                                    <a href="#">
                                        <iconify-icon class="social-icon" icon="ri:pinterest-fill"></iconify-icon>
                                    </a>
                                </li>
                                <li class="social">
                                    <a href="#">
                                        <iconify-icon class="social-icon" icon="ri:instagram-fill"></iconify-icon>
                                    </a>
                                </li>
                                <li class="social">
                                    <a href="#">
                                        <iconify-icon class="social-icon" icon="ri:youtube-fill"></iconify-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-menu">
                        <h3>Quick Links</h3>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="nav-link">Home</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">About us</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">Offer </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">Services</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">Conatct Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-menu">
                        <h3>
                            Help Center</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="#" class="nav-link">FAQs</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="nav-link">Payment</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="nav-link">Returns & Refunds</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="nav-link">Checkout</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="nav-link">Delivery Information</a>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <h3>Our Newsletter</h3>
                        <p class="blog-paragraph fs-6">Subscribe to our newsletter to get updates about our grand offers.</p>
                        <div class="search-bar border rounded-pill border-dark-subtle px-2">
                            <form class="text-center d-flex align-items-center" action="" method="">
                                <input type="text" class="form-control border-0 bg-transparent" placeholder="Enter your email here" />
                                <iconify-icon class="send-icon" icon="tabler:location-filled"></iconify-icon>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <hr class="m-0">
            <div class="row mt-3">
                <div class="col-md-6 copyright">
                    <p class="secondary-font">© 2023 Waggy. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="secondary-font">
                        Free HTML Template by <a href="https://templatesjungle.com/" target="_blank"
                                                 class="text-decoration-underline fw-bold text-black-50"> TemplatesJungle</a>
                    </p>
                    <p class="secondary-font">
                        Distributed by <a href="https://themewagon.com/" target="_blank"
                                          class="text-decoration-underline fw-bold text-black-50"> ThemeWagon</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="~/assets/vendor/libs/i18n/i18n.js"></script>
    <!-- <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script> -->
    <script src="../../assets/vendor/js/menu.js"></script>

    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="~/assets/vendor/libs/fullcalendar/fullcalendar.js"></script>
    <script src="~/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/assets/vendor/libs/moment/moment.js"></script>
    <script src="~/assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="~/assets/vendor/libs/jkanban/jkanban.js"></script>
    <script src="~/assets/vendor/libs/quill/katex.js"></script>
    <script src="~/assets/vendor/libs/quill/quill.js"></script>
    <script src="~/assets/vendor/libs/toastr/toastr.min.js"></script>
    <script src="~/assets/vendor/libs/sweetalert2/sweetalert2.all.min.js"></script>
    <!-- Main JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
