@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header text-end">
        <button type="button" class="btn btn-label-primary" data-bs-toggle="modal" data-bs-target="#modalCreateUpdateCategory">
            <i class='bx bx-plus me-1'></i>Thêm mới
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>
                            <input type="checkbox" id="selectedAllCheckbox"/>
                        </th>
                        <th>Tên danh mục</th>
                        <th>Danh mục cha</th>
                        <th>Vị trí</th>
                        <th>Mô tả</th>
                        <th>Sự kiện</th>
                    </tr>
                </thead>
                <tbody id="listcategories"></tbody>
            </table>
        </div>
    </div>
</div>

 @Html.Partial("ModalCreateUpdateCategoryPartial")

 @section Scripts{
    <script src="~/js/category.js"></script>
}
