@* Modal *@
<div class="modal fade" id="productTypeModal" data-bs-backdrop="static" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productTypeTitle">Khai báo thông tin loại sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="idProductType" value="" hidden/>
                <div class="row">
                    <div class="col mb-3">
                        <label for="tenloai" class="form-label">Tên loại sản phẩm</label>
                        <input type="text" id="tenloai" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="vitri" class="form-label">Vị trí hiển thị</label>
                        <input type="text" id="vitri" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="mota" class="form-label">Mô tả thông tin</label>
                        <textarea class="form-control" id="mota" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="kichhoat">
                        <label class="form-check-label" for="kichhoat">Kích hoạt</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" id="addProductTypeModal" onclick="AddProductType()">Lưu thông tin</button>
            </div>
        </form>
    </div>
</div>