
@{
    ViewData["Title"] = "ProductType";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#productTypeModal">Thêm loại</button>

<div class="card">
    <h5 class="card-header">Danh sách các loại sản phẩm</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Tên loại</th>
                        <th>Vị trí</th>
                        <th>Trạng thái</th>
                        <th>Mô tả</th>
                        <th>Sự kiện</th>
                    </tr>
                </thead>
                <tbody id="listproducttypes"></tbody>
            </table>
        </div>
    </div>
</div>
@{
    Html.RenderPartial("ModalProductTypePartial");
}

@section Scripts {
    <script src="~/js/producttype.js"></script>
}

