
@{
    ViewData["Title"] = "Food";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#backDropModal">Thêm thức ăn</button>

<div class="card">
    <h5 class="card-header">Danh sách sản phẩm</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá cả</th>
                        <th>Danh mục</th>
                        <th>Sự kiện</th>
                    </tr>
                </thead>
                <tbody id="listfood"></tbody>
            </table>
        </div>
    </div>
</div>
@{
    Html.RenderPartial("ModalAddFoodPartial");
}

@section Scripts{
	<script src="~/js/food.js"></script>
}