
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card">
    <div class="card-header text-end">
        <button type="button" class="btn btn-label-danger" onclick="DeleteRoles()">
            <i class='bx bx-trash-alt me-1'></i>Xóa
        </button>
        <button type="button" class="btn btn-label-primary" data-bs-toggle="modal" data-bs-target="#modalCreateUpdateRoles">
            <i class='bx bx-plus me-1'></i>Thêm mới
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th class="w-px-50">
                            <input type="checkbox" id="allCheckbox" class="form-check-input" />
                        </th>
                        <th>Tên quyền</th>
                        <th>Mô tả</th>
                        <th class="w-px-150">Trạng thái</th>
                        <th class="w-px-100 align-middle">Sự kiện</th>
                    </tr>
                </thead>
                <tbody id="listrole"></tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("ModalCreateUpdateRolesPartial")

@section Scripts {
    <script src="~/js/roles.js"></script>
}


